[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayesrules"]
	path = bayesrules
	url = https://github.com/bayes-rules/bayesrules
